* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f9fa;
}
header {
  background-color: rgb(102, 65, 189);
}
header a {
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  color: #fff;
}
header a:hover {
  background-color: rgb(83, 48, 165);
}
.active {
  background-color: rgb(83, 48, 165);
}
.content {
  margin: 0 20vw;
  background-color: white;
  height: 100vh;
  padding: 2rem 2rem;
  color: grey;
}
input{
    width: 30vw;
    height: 40px;
    background-color: #fff;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 5px; 
    padding: 5px;
}
.content p{
    margin-bottom: 5px;
}
.content a{
    text-decoration: none;
}
textarea{
    width: 30vw;
    background-color: #fff;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 5px; 
    padding: 5px;
}
button{
    text-align: center;
    margin-top: 5px;
    font-size: 0.8rem;
    color: #fff;
    background-color: rgb(102, 65, 189);
    border: 2px solid #0c4582;
    border-radius: 5px;
    padding: 0.6rem 1rem;
}
.post{
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}